<footer id="glb_footer">
  <div class="glb_footer_inner">
    <div class="footer_list">
      <h2 class="title">レシピ</h2>
      <ul>
        <li>
          <%= link_to "test"%>
        </li>
      </ul>
    </div>
    <div class="footer_list">
      <h2 class="title">レシピ</h2>
      <ul>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
      </ul>
    </div>
    <div class="footer_list">
      <h2 class="title">レシピ</h2>
      <ul>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
      </ul>
    </div>
    <div class="footer_list">
      <h2 class="title">レシピ</h2>
      <ul>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
      </ul>
    </div>
    <div class="footer_list">
      <h2 class="title">レシピ</h2>
      <ul>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
        <li>
          <%= link_to "test"%>
        </li>
      </ul>
    </div>
  </div>
</footer>
