<%= render 'partial/navbar' %>

<div id="glb_main">
  <div id="glb_body" class="clearfix">
    <div id="content_container">
      <div id="recipe_container" class="clearfix">
        <div id="recipe_title">
          <h1 class="recipe_title">
            ブロッコリーと鶏胸肉のカレーマヨ炒め
          </h1>
        </div>
        <div id="main_photo">
          <%= image_tag @post.photos.first.image.url(:medium), class: "main_photo" %>
        </div>
        <div id="desc_and_ingredients">
          <div id="ingredients_container">
            <div id="ingredients">
              <div class="material">
                <div class="material_head">
                  <h2 class="title">素材</h2>
                </div>
              </div>
            </div>
            <div id="ingredients_lists">
              <div class="ingredients_list">
                <div class="ingredients_name">
                  鶏胸肉
                </div>
                <div class="ingredients_quantity">
                  1枚（約400g）
                </div>
              </div>
            </div>
            <div id="ingredients_lists">
              <div class="ingredients_list">
                <div class="ingredients_name">
                  鶏胸肉
                </div>
                <div class="ingredients_quantity">
                  1枚（約400g）
                </div>
              </div>
            </div>
            <div id="ingredients_lists">
              <div class="ingredients_list">
                <div class="ingredients_name">
                  鶏胸肉
                </div>
                <div class="ingredients_quantity">
                  1枚（約400g）
                </div>
              </div>
            </div>
            <div id="ingredients_lists">
              <div class="ingredients_list">
                <div class="ingredients_name">
                  鶏胸肉
                </div>
                <div class="ingredients_quantity">
                  1枚（約400g）
                </div>
              </div>
            </div>
            <div id="ingredients_lists">
              <div class="ingredients_list">
                <div class="ingredients_name">
                  鶏胸肉
                </div>
                <div class="ingredients_quantity">
                  1枚（約400g）
                </div>
              </div>
            </div>
            <div id="ingredients_lists">
              <div class="ingredients_list">
                <div class="ingredients_name">
                  鶏胸肉
                </div>
                <div class="ingredients_quantity">
                  1枚（約400g）
                </div>
              </div>
            </div>
          </div>
          <div class="description_text">
            鶏胸肉とブロッコリーを <br>
            カレーマヨで味付けしました♡ <br>
            マヨネーズを使っていても <br>
            しつこくありません(*ˊ˘ˋ*)
          </div>
        </div>
        <div class="how_to_cook ">
          <h2 class="how_to_title ">作り方</h2>
          <div id="steps">
            <div id="step">
              <dl>
                <dt id="step_number">
                  <h3>1</h3>
                </dt>
                <dd class="instruction">
                  <div id="recipe_step_photo">
                    <%= image_tag @post.photos.first.image.url(:medium) %>
                  </div>
                  <p class="recipe_step_text">
                    test test test test 
                  </p>
                </dd>
              </dl>
            </div>
            <div id="step">
              <dl>
                <dt id="step_number">
                  <h3>2</h3>
                </dt>
                <dd class="instruction">
                  <div id="recipe_step_photo">
                  </div>
                  <p class="recipe_step_text">
                    test test test test 
                    test test test test 
                  </p>
                </dd>
              </dl>
            </div>
            <div id="step">
              <dl>
                <dt id="step_number">
                  <h3>3</h3>
                </dt>
                <dd class="instruction">
                  <div id="recipe_step_photo">
                    <%= image_tag @post.photos.first.image.url(:medium) %>
                  </div>
                  <p class="recipe_step_text">
                    test test test test 
                    test test test test 
                    test test test test 
                  </p>
                </dd>
              </dl>
            </div>
            <div id="step">
              <dl>
                <dt id="step_number">
                  <h3>4</h3>
                </dt>
                <dd class="instruction">
                  <div id="recipe_step_photo">
                    <%= image_tag @post.photos.first.image.url(:medium) %>
                  </div>
                  <p class="recipe_step_text">
                    test test test test 
                    test test test test 
                    test test test test 
                    test test test test 
                  </p>
                </dd>
              </dl>
            </div>
            <div id="step">
              <dl>
                <dt id="step_number">
                  <h3>5</h3>
                </dt>
                <dd class="instruction">
                  <div id="recipe_step_photo">
                    <%= image_tag @post.photos.first.image.url(:medium) %>
                  </div>
                  <p class="recipe_step_text">
                    test test test test 
                    test test test test 
                    test test test test 
                    test test test test 
                    test test test test 
                  </p>
                </dd>
              </dl>
            </div>
            <div id="step">
              <dl>
                <dt id="step_number">
                  <h3>6</h3>
                </dt>
                <dd class="instruction">
                  <div id="recipe_step_photo">
                  </div>
                  <p class="recipe_step_text">
                    test test test test 
                    test test test test test test test
                    
                  </p>
                </dd>
              </dl>
            </div>
            <div id="step">
              <dl>
                <dt id="step_number">
                  <h3>7</h3>
                </dt>
                <dd class="instruction">
                  <div id="recipe_step_photo">
                    <%= image_tag @post.photos.first.image.url(:medium) %>
                  </div>
                  <p class="recipe_step_text"></p>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'partial/footer' %>
